<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Happy</title>
    <link rel="icon" href="./images/favicon.ico" />
    <link rel="stylesheet" href="./css/main.css" />
    <link rel="stylesheet" href="./css/page-landing.css" />
    <link rel="stylesheet" href="./css/animations.css" />
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap"
      rel="stylesheet"
    />

    <!-- <link rel="apple-touch-icon" sizes="57x57" href="./images/favicons/apple-icon-57x57.png">
      <link rel="apple-touch-icon" sizes="60x60" href="./images/favicons/apple-icon-60x60.png">
      <link rel="apple-touch-icon" sizes="72x72" href="./images/favicons/apple-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="76x76" href="./images/favicons/apple-icon-76x76.png">
      <link rel="apple-touch-icon" sizes="114x114" href="./images/favicons/apple-icon-114x114.png">
      <link rel="apple-touch-icon" sizes="120x120" href="./images/favicons/apple-icon-120x120.png">
      <link rel="apple-touch-icon" sizes="144x144" href="./images/favicons/apple-icon-144x144.png">
      <link rel="apple-touch-icon" sizes="152x152" href="./images/favicons/apple-icon-152x152.png">
      <link rel="apple-touch-icon" sizes="180x180" href="./images/favicons/apple-icon-180x180.png">
      <link rel="icon" type="image/png" sizes="192x192"  href="./images/favicons/android-icon-192x192.png">
      <link rel="icon" type="image/png" sizes="32x32" href="./images/favicons/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="96x96" href="./images/favicons/favicon-96x96.png">
      <link rel="icon" type="image/png" sizes="16x16" href="./images/favicons/favicon-16x16.png">
      <link rel="manifest" href="./images/favicons/manifest.json">
      <meta name="msapplication-TileColor" content="#ffffff">
      <meta name="msapplication-TileImage" content="./images/favicons/ms-icon-144x144.png">
      <meta name="theme-color" content="#ffffff"> -->
  </head>
  <body>
    <div id="page-landing">
      <div id="container">
        <header>
          <a href="./" title="Happy logo">
            <img
              id="logo"
              class="animate-up"
              src="./images/Logo-happy.svg"
              alt="Logomarca de Happy"
            />
          </a>
          <div class="location animate-up">
            <strong>Porto Alegre</strong>
            <p>Rio Grande do Sul</p>
          </div>
        </header>
        <main>
          <h1 class="animate-up">Leve felicidade para o mundo</h1>
          <section class="visit">
            <p class="animate-up">
              Visite orfanatos e mude o dia de muitas crianças
            </p>
            <a
              class="animate-up"
              href="./orphanages"
              title="Visite orfanatos"
            >
              <img
                id="image-arrow"
                src="./images/Arrow.svg"
                alt="Entre no Site"
              />
            </a>
          </section>
        </main>
      </div>
    </div>
  </body>
</html>